html/mcbisite/admin/service/models/lib/WSMonedaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:esb="http://www.cysce.com/esb/esbcore/v2/header" xmlns:ns="http://www.bi.com.gt/esb/services/common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.bi.com.gt/esb/services/Moneda" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSMoneda" targetNamespace="http://www.bi.com.gt/esb/services/Moneda">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://www.bi.com.gt/esb/services/common" xmlns:mrm="http://www.bi.com.gt/esb/services/Moneda" targetNamespace="http://www.bi.com.gt/esb/services/Moneda" xmlns:ns="http://www.bi.com.gt/esb/services/common" xmlns:tns="http://www.bi.com.gt/esb/services/Moneda" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bi.com.gt/esb/services/common"/>
      <xsd:complexType name="Datos_MonedaCambio_Req_t">
        <xsd:sequence>
          <xsd:element name="MonedaOrig">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MonedaDest">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MontoOrig" type="xsd:string"/>
          <xsd:element name="MontoDest" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MontoPivote" type="xsd:string"/>
          <xsd:element minOccurs="0" name="TasaCambioBase" type="xsd:string"/>
          <xsd:element name="TasaCambioDest" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CodNegBase" type="xsd:string"/>
          <xsd:element name="CodNegDest" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MonedaCambio_Req_t">
        <xsd:sequence>
          <xsd:element name="InfoTrx" type="Q1:Header_t"/>
          <xsd:element name="Datos" type="mrm:Datos_MonedaCambio_Req_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MonedaCambio_Resp_t">
        <xsd:sequence>
          <xsd:element name="InfoTrx" type="Q1:Header_t"/>
          <xsd:element name="Datos" type="mrm:Datos_MonedaCambio_Req_t"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MonedaCambio_Req" type="mrm:MonedaCambio_Req_t"/>
      <xsd:element name="MonedaCambio_Resp" type="mrm:MonedaCambio_Resp_t"/>
    </xsd:schema>
    <xsd:schema xmlns:mrm="http://www.bi.com.gt/esb/services/Moneda" targetNamespace="http://www.bi.com.gt/esb/services/common" xmlns:ns="http://www.bi.com.gt/esb/services/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="Header_t">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="IdTrx">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="24"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Canal" type="xsd:string">
            <xsd:annotation/>
          </xsd:element>
          <xsd:element name="PaisOperacion">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BancoOperacion">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PaisOrigen">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BancoOrigen">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PaisDestino">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BancoDestino">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FechaTrx">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HoraTrx">
            <xsd:annotation/>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IdCliente" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CodOpWeb" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CodEmpresa" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Usuario" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CodAutorizacion" type="xsd:string">
            <xsd:annotation/>
          </xsd:element>
          <xsd:element minOccurs="1" name="NumPag" type="xsd:string">
            <xsd:annotation/>
          </xsd:element>
          <xsd:element minOccurs="0" name="TotPags" type="xsd:string">
            <xsd:annotation/>
          </xsd:element>
          <xsd:element minOccurs="0" name="CodRetorno" type="xsd:string"/>
          <xsd:element minOccurs="0" name="DescripcionRetorno" type="xsd:string">
            <xsd:annotation/>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:Q1="http://www.cysce.com/esb/esbcore/v2/header" xmlns:mrm="http://www.bi.com.gt/esb/services/Moneda" targetNamespace="http://www.cysce.com/esb/esbcore/v2/header" xmlns:esb="http://www.cysce.com/esb/esbcore/v2/header" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="esbHdr">
        <xsd:sequence maxOccurs="1" minOccurs="1">
          <xsd:element minOccurs="1" name="Service" type="xsd:string"/>
          <xsd:element minOccurs="1" name="Operation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Version" type="xsd:string"/>
          <xsd:element minOccurs="0" name="User" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Passwd" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Mod_invoque" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Service_Id" type="xsd:string"/>
          <xsd:element minOccurs="1" name="Transaction_Id" type="xsd:string"/>
          <xsd:element minOccurs="1" name="Consumer" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Consumer_Id" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Consumer_ReplyToQ" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Consumer_ReplyToQMgr" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MsgId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CorrelId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Estado" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Auditoria" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Retry" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Reason" type="xsd:string"/>
          <xsd:element minOccurs="0" name="DetailRetCode">
            <xsd:complexType>
              <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="unbounded" name="Detail" type="Q1:Detail"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Detail">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Reason" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Detail" type="Q1:Detail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="esbHdr" type="Q1:esbHdr"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Cambio_in">
    <wsdl:part element="tns:MonedaCambio_Req" name="MonedaCambio_Req"/>
    <wsdl:part element="esb:esbHdr" name="esbHdr"/>
  </wsdl:message>
  <wsdl:message name="Cambio_out">
    <wsdl:part element="tns:MonedaCambio_Resp" name="MonedaCambio_Resp"/>
    <wsdl:part element="esb:esbHdr" name="esbHdr"/>
  </wsdl:message>
  <wsdl:portType name="BI_ESB_SERVICES_MSPortType">
    <wsdl:operation name="Cambio">
      <wsdl:input message="tns:Cambio_in" name="Cambio_Input"/>
      <wsdl:output message="tns:Cambio_out" name="Cambio_Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BI_ESB_SERVICES_MSSOAP12_HTTP_Binding" type="tns:BI_ESB_SERVICES_MSPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Cambio">
      <soap12:operation soapAction=""/>
      <wsdl:input name="Cambio_Input">
        <soap12:header message="tns:Cambio_in" part="esbHdr" use="literal"/>
        <soap12:body parts="MonedaCambio_Req" use="literal"/>
      </wsdl:input>
      <wsdl:output name="Cambio_Output">
        <soap12:body parts="MonedaCambio_Resp" use="literal"/>
        <soap12:header message="tns:Cambio_in" part="esbHdr" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMoneda">
    <wsdl:port binding="tns:BI_ESB_SERVICES_MSSOAP12_HTTP_Binding" name="SOAP12_HTTP_Port">
      <soap12:address location="http://10.1.1.101:7800/esb/services/ws/WSMoneda"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
